<h1>{{ article.title }}</h1>


{% if section.settings.enable_author %}
  <small>{{ article.author }}</small>
{% endif %}


{% if section.settings.enable_published_date %}
  <time datetime="{{article.published_at | date: '%Y-%m-%d'}}">{{ article.published_at | date: '%Y-%m-%d' }}</time>
{% endif %}


<img src="{{article.image | img_url: 'medium'}}" alt="{{article.image.alt}}">

<div>{{ article.content }}</div>


{% schema %}
  {
    "name": "Temaplte Article",
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "label": "Display Author Name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_published_date",
        "default": true,
        "label": "Display Published Date"
      }
    ]
  }
{% endschema %}