<article class="flex flex-col justify-center items-center gap-y-2">
  <h3>{{ article.blogId }}</h3>
  {% for block in section.blocks %}
    {% case block.type %}
      {% when "article_title" %}
      <div class="max-w-7xl">
        <a href="{{blog.url}}" class="text-base uppercase text-gray-500 hover:text-gray-900 font-bold">{{ blog.title }}</a>
        <h1 class="text-5xl font-medium">{{ article.title }}</h1>
      </div>
      {% when "article_author" %}
      {% if section.settings.enable_author %}
        <small class="text-xs capitalize font-medium">{{ article.author }}</small>
      {% endif %}
      {% when "article_published_date" %}
      {% if section.settings.enable_published_date %}
        <time class="text-sm font-medium" datetime="{{article.published_at | date: '%Y-%m-%d'}}">on {{ article.published_at | date: '%Y-%m-%d' }}</time>
      {% endif %}
      {% when "featured_image" %}
      <img
        class="w-screen h-[300px]"
        src="{{article.image | img_url: 'large'}}"
        alt="{{article.image.alt}}">
      {% when "article_content" %}
      <div class="text-center max-w-[1000px] mx-auto">{{ article.content }}</div>
    {% endcase %}
  {% endfor %}
</article>

{% if blog.comments_enabled? %}
  <div id="comments" class="my-8">
    {% if article.comments_count > 0 %}
      {% else %}
        There are no comments yet
    {% endif %}
  </div>

  <div id="comments_form" class="my-8">
    {% form 'new_comment', article %}
      <div class="flex-1 mx-auto items-center justify-center max-w-4xl px-4">
        <div class="px-1 md:flex justify-between mb-3">
          <div class="px-3 md:w-1/2">
            <label for="comment_author" class="text-gray-700 font-meium uppercase text-xs mb-2">Name</label>
            <input
              class="w-full text-gray border py-3 px-4 mb-3 focus:outline-none"
              type="text"
              name="comment[author]"
              id="comment_author"
              placeholder="Jane Doe"
              required>

          </div>
          <div class="px-3 md:w-1/2">
            <label for="comment_email" class="text-gray-700 font-meium uppercase text-xs mb-2">Email</label>
            <input
              class="w-full text-gray border py-3 px-4 mb-3 focus:outline-none"
              type="email"
              name="comment[email]"
              id="comment_email"
              placeholder="jane@doe.com"
              required>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <label for="comment_content" class="text-gray-700 font-medium uppercase text-xs mb-2">Comment</label>
            <textarea
              class="w-full text-gray-700 resize-none h-20 py-2 px-3 focus:outline-none border-2"
              name="comment[body]"
              id="comment_content"
              required></textarea>
          </div>
        </div>
        <div class="px-1 md:flex mb-3">
          <div class="md:w-full px-3">
            <input
              type="submit"
              value="Post comment"
              class="w-full cursor-pointer px-4 py-2 border text-base font-medium text-white bg-gray-900 hover:bg-gray-500">
          </div>
        </div>
      </div>
    {% endform %}
  </div>


{% endif %}



{% schema %}
  {
    "name": "Template Article",
    "tag": "section",
    "class": "",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_author",
        "label": "Display Author Name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "enable_published_date",
        "default": true,
        "label": "Display Published Date"
      }
    ],
    "blocks": [
      {
        "type": "article_title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "article_author",
        "name": "Author",
        "limit": 1
      },
      {
        "type": "article_published_date",
        "name": "Published Date",
        "limit": 1
      },
      {
        "type": "featured_image",
        "name": "Thumbnail",
        "limit": 2
      }, {
        "type": "article_content",
        "name": "Content",
        "limit": 1
      }
    ]
  }
{% endschema %}